SECRET_KEY=8facd7d51398f2a5940131f1fe0ce998757340c861160c01
JWT_SECRET_KEY=dac84fa40807183d3fa1618e0b78476fb9b693003f19e446
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nextgen_recruiter
CORS_ORIGINS=http://localhost:5173
AI_PROVIDER=openai
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
AUTO_CREATE_TABLES=true
